*{
    margin:0;
    padding:0;
    font-family:"微软雅黑";
    font-size:12px;
}
.demo-1 .box{
    width:390px;
    height:320px;
    /*border:solid 1px #ddd;*/
    background:rgba(110,110,110,0.4);
    position:absolute;
    left:50%;
    top:42%;
    margin-left:-195px;
    margin-top:-160px;
}
.box h2{
    font-weight:normal;
    color:#ccc;
    font-size:16px;
    line-height:46px;
    height:46px;
    overflow:hidden;
    text-align:center;
    /*border-bottom:solid 1px #ddd;*/
    background:rgba(30,30,30,0.5);
}
.input_box{
    width:350px;
    padding-bottom:15px;
    margin:0 auto;
    overflow:hidden;
}
.input_box input{
    float:left;
    width:348px;
    height:40px;
    font-size:14px;
    border:solid 1px #666;
    text-indent:10px;
    outline:none;
    line-height:40px;
}
.input_box button{
    width:350px;
    height:48px;
    background:#3f89ec;
    border:none;
    border-radius:2px;
    outline:none;
    cursor:auto;
    font-size:16px;
    color:#FFF;
}
.input_box input{
    color: #fff;
    background:rgba(30,30,30,0.5);
}
#error_box {
    height: 40px;
    width: 350px;
    margin: 0 auto;
    line-height: 40px;
    color: #fc4343;
}
